@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-drawer-body {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.ant-drawer-body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}